.navbarTitle {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: bold;
    font-size:1.5em;
    margin-top:5px;
    color: white;

}

.navbarLink {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: bold;
    font-size:1.5em;
    margin-top:10px;
    color: white;
    margin-right: 20px;
}

button:focus, button:active {
    border:none;
    outline:none;
}

.pageTitle {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 900;
    font-size:3em;
    color: white;
}

.pageText {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size:1em;
    color: white;
}

.socialName {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size:1.2em;
    color: white;
}

a:link, a:visited {
    color: white;
    text-shadow: none;
}

a:hover, a:active {
    color: white;
    text-decoration: none;
}

.featureBox {
    background-color:#444444;
    height: 100px;
    width: 210px;
}

.featureText {
    font-family: 'Open Sans';
    line-height: 10px;
    color:white;
}

.featureIcon {
    outline:none;
    border:none;
    background-color:#444444;
}

.searchBar {
    border:none;
    text-indent: 10px;
}

.searchBtn {
    background: #fbee4e;
    border:none;
    width: 80px;
    transform: scale(1);
    transition: scale 2s ease-in-out;
}

.searchBtn:active {
    transform: scale(0.8);
}

.scoreBox {
    width: 800px;
    height: 580px;
    background-color: #444444;
}

.titleBox {
    background-color:#444444;
    padding:8px;
    color:white;
    margin-bottom:0px;
    height:60px;
}


.playerName {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 900;
    font-size:2vw;
    color: white;
}

.profileTitle {
    font-family: "Open Sans";
    font-weight: 600;
    font-size:1.9vw;
    color: white;
}

.switchLabel {
    font-family: "Open Sans";
    color:white;
    font-size:1.2em;
}

.scoreBoxTitle {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: bold;
    font-size:1.3em;
    color: white;
    margin-bottom:0px;
    margin-top:0px;
}

.scoreBoxText {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size:1em;
    color: white;
    margin-bottom:0px;
    margin-top:0px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #fbee4e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #fbee4e;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .bottom {
    min-width:200px;
    top:40px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .bottom {
    visibility:visible; opacity:1;
}

.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}