{% extends "base.html" %}

{% block essence %}
<div style="padding-left:96px;width:100%;overflow:hidden;">
    <form method="POST">
        <div class="row">
            <p><input style="line-height:40px" class="searchBar" size="30" type="text" name="username" placeholder="username" required></p>
            <p style="text-align:center;margin-left:15px"><input style="line-height:40px;cursor: pointer;" class="searchBtn" type="submit" value="search"></p>
        </div>
    </form>
    <div class="pageTitle row" style="width:60%; margin-top:50px">
        <div>
            <p><img height="100px" width="100px" src="static/images/undead_essence.png">{{undead}}</p>
            <p><img height="100px" width="100px" src="static/images/wither_essence.png">{{wither}}</p>
            <p><img height="100px" width="100px" src="static/images/dragon_essence.png">{{dragon}}</p>
            <p><img height="100px" width="100px" src="static/images/spider_essence.png">{{spider}}</p>
        </div>
        <div style="margin-left:400px;position:absolute">
            <p><img height="100px" width="100px" src="static/images/ice_essence.png">{{ice}}</p>
            <p><img height="100px" width="100px" src="static/images/gold_essence.png">{{gold}}</p>
            <p><img height="100px" width="100px" src="static/images/diamond_essence.png">{{diamond}}</p>
        </div>
    </div>
</div>
{% endblock %}