{% extends "base.html" %}

{% block help %}
<div class="row justify-content-around" style="width:100%;overflow:hidden; min-width:100%">
    <div style="width:70%">
        <div>
            <h1 style="margin-left:80px;" class="pageTitle">what is dungeon ranker?</h1>
            <p style="margin-left:100px;" class="pageText">dungeon ranker is a school project made by Kevin Do and Kian Kishimoto for their AP Computer Science Principles Digital Portfolio submission.</p>
        </div>

        <div>
            <h1 style="margin-left:80px;" class="pageTitle">what is my profile name?</h1>
            <p style="margin-left:100px;" class="pageText">To find your profile name, you can check ingame through the profile management menu.
            <br> You can also input your username below to show your profile names (separated by a space if you have multiple).</p>
            <div style="padding-left:96px;width:100%;overflow:hidden;">
                <form id="form" method="post">
                    <div class="row" style="">
                        <p><input class="searchBar" size="30" type="text" name="username" placeholder="username" data-val-required="Username is required." required></p>
                        <p style="text-align:center;margin-left:15px;"><input class="searchBtn" type="submit" value="search"></p>
                    </div>
                </form>
                <p class="pageText" style="font-size:2em">{{profiles}}</p>
            </div>
        </div>
        <div>
            <h1 style="margin-left:80px;" class="pageTitle">how is the score calculated?</h1>
            <p style="margin-left:100px;" class="pageText">Catacombs level and secrets both are out of 150 points. To get 150 points in each section you need catacombs 38 and 12,000 secrets.
            <br> Every catacombs level over is 1 bonus point and every 5,000 secrets over is a bonus point.</p>
        </div>
    </div>
    <div style="width:30%">
        <img src="static/images/dab.png" width="50%" height="100%">
    </div>
</div>
{% endblock %}