{% extends "base.html" %}

{% block index %}
<div style="padding-left:96px;width:100%;overflow:hidden;">
    <form id="form" method="post">
        <div class="row">
            <p><input class="searchBar" size="30" type="text" name="username" placeholder="username" data-val-required="Username is required." required></p>
            <p style="margin-left:15px"><input class="searchBar" size="30" type="text" name="cute_name" placeholder="profile name" data-val-required="Profile name is required." required></p>
            <p style="margin-left:15px;">
                <label class="pageText" for="time">Fastest Time:</label>
                <select id="time" name="time" required>
                    <option value="s">s</option>
                    <option value="splus">s+</option>
                </select>
            </p>
            <p style="text-align:center;margin-left:15px;"><input class="searchBtn" type="submit" value="search"></p>
        </div>
    </form>
</div>

<div style="padding-top:40px"></div>
<h1 style="margin-left:80px;" class="playerName">{{username}}</h1>
<div class="row" style="overflow:hidden;max-width:100%">
    <div style="margin-left:80px" class="scoreBox row justify-content-center">
        <div style="width:40%;padding-top:80px"><center>
            <img style="padding-top:25px" src="https://crafatar.com/renders/body/{{uuid}}?overlay" width="50%" height="100%">
        </center>
        </div>
        <div style="width:60%;padding-left:50px">
            <div>
                <p style="padding-top:40px" class="scoreBoxTitle">catacombs: &nbsp;<span class="scoreBoxText">{{catalvl}}</span></p>
                <p class="scoreBoxTitle">secrets: &nbsp;<span class="scoreBoxText">{{secrets}}</span></p>
                <p class="scoreBoxTitle">weight: &nbsp;<span class="scoreBoxText">{{weight}}</span></p>
            </div>
            <div style="padding-top:30px;padding-left:15px">
                <!-- perfect place for jinja loop combined with api data somehow -->
                <div style="width:100%" class="row">
                    <div style="width:50%">
                        <p class="scoreBoxTitle">f1 - bonzo :</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f1completions}} kills</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f1min}}m {{f1sec}}s</p>
                    </div>
                    <div style="width:50%;padding-left:20px">
                        <p class="scoreBoxTitle">f2 - scarf :</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f2completions}} kills</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f2min}}m {{f2sec}}s</p>
                    </div>
                </div>
                <div style="width:100%;padding-top:20px" class="row">
                    <div style="width:50%">
                        <p class="scoreBoxTitle">f3 - professor :</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f3completions}} kills</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f3min}}m {{f3sec}}s</p>
                    </div>
                    <div style="width:50%;padding-left:20px">
                        <p class="scoreBoxTitle">f4 - thorn :</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f4completions}} kills</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f4min}}m {{f4sec}}s</p>
                    </div>
                </div>
                <div style="width:100%;padding-top:20px" class="row">
                    <div style="width:50%">
                        <p class="scoreBoxTitle">f5 - livid :</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f5completions}} kills</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f5min}}m {{f5sec}}s</p>
                    </div>
                    <div style="width:50%;padding-left:20px">
                        <p class="scoreBoxTitle">f6 - sadan :</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f6completions}} kills</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f6min}}m {{f6sec}}s</p>
                    </div>
                </div>
                <div style="width:100%;padding-top:20px" class="row">
                    <div style="width:50%">
                        <p class="scoreBoxTitle">f7 - necron :</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f7completions}} kills</p>
                        <p class="scoreBoxText" style="padding-left:20px">{{f7min}}m {{f7sec}}s</p>
                    </div>
                    <div style="width:50%;padding-left:20px">
                        <!-- blank for jinja loop? -->
                        <p class="scoreBoxTitle"></p>
                        <p class="scoreBoxText" style="padding-left:20px"></p>
                        <p class="scoreBoxText" style="padding-left:20px"></p>
                    </div>
                </div>
                <div style="padding-left:180px;">
                    <p class="scoreBoxTitle">profile: {{profilename}}</p>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-left:200px;">
        <!--<img src="static/images/blankmap.jpg" height="550px" width="550px">-->
        <div class="scoreBox">
            <center>
                <h1 style="padding-top:70px;line-height: 0;font-size:300%" class="playerName">{{username}}</h1>
                <h1 style="padding-top:40px;line-height: 0;font-size:200%" class="playerName">({{profilename}})</h1>
            </center>
            <div class="row justify-content-center" style="padding-top:40px">
                <div style="width:40%;margin-left:80px">
                    <img src="static/images/{{scoreimage}}.png" height="360" width="275">
                </div>
                <div style="width:40%;padding-top:20px;font-size:2em;margin-left:20px">
                    <p class="scoreBoxTitle">CATALVL: {{catalvlscore}}</p>
                    <p class="scoreBoxTitle">SECRETS: {{secretsscore}}</p>
                    <p class="scoreBoxTitle">BONUS: {{bonus}}</p>
                    <p style="padding-top:30px" class="scoreBoxTitle">TOTAL: {{total}}</p>
                </div>
                </div>
        </div>

    </div>
</div>
{% endblock %}