{% extends "base.html" %}

{% block index %}
<body style="background-image: url('/static/images/backgrounds/background_{{ range(1, 8) | random }}.png');background-position:top 65px center;background-repeat: no-repeat;">
<div class="row justify-content-center" style="overflow:hidden; max-width:100%; padding-top:8%">
    <div class="indexBox" style="width:470px">
        <div>
        <div style="padding-left:55px;padding-top:5%">
            <form method="post">
                <div class="row">
                    <p><input style="line-height:40px" class="searchBar" size="30" type="text" name="username" placeholder="username" required></p>
                    <p style="text-align:center;margin-left:15px"><input style="line-height:40px;cursor: pointer;" class="searchBtn" type="submit" value="search"></p>
                </div>
            </form>
        </div>
        <div class="row" style="padding-left:7.5%; margin-top: 50px; width:500px;overflow:hidden;overflow-wrap: break-word;">
            {% for data in featuredata: %}
            {% set ign = data["ign"] %}
            {% set profile = data["profile"] %}
            {% set icon = data["icon"] %}
            {% set uuid = data["uuid"] %}
            {% set role = data["role"] %}
            <a href="/stats/{{ign}}/{{profile}}" style="margin-bottom:15px">
                <div class="featureBox row" style="margin-right:30px">
                    <img style="margin-top:20px;margin-left: 20px" src="https://visage.surgeplay.com/bust/{{uuid}}" height="60px">
                    <div style="margin-top:25px; margin-left: 10px">
                        <p class="featureText">{{ign}}</p>
                        <p class="featureText">{{profile}}</p>
                        <p class="featureText" style="margin-left:80px">
                            <button class="featureIcon" id="feature_{{ign}}"><i style="color:white" class="fas fa-{{icon}}"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </a>
            <script>
                tippy('#feature_{{ign}}', {
                    content: "{{role}}",
                    placement: 'right',
                    trigger: 'mouseenter',
                    arrow: false,
                    offset: [0, 0],
                });
            </script>

            {% endfor %}
        </div>

    </div>
</div>
</div>
</body>
{% endblock %}