{% extends "base.html" %}

{% block info %}
<div style="padding-top:8%"></div>
<div class="row justify-content-around" style="width:100%;overflow:hidden; min-width:100%">
    <div style="width:70%">
        <div>
            <h1 style="margin-left:80px;" class="pageTitle">what is dungeon ranker?</h1>
            <p style="margin-left:100px;" class="pageText">dungeon ranker is a school project made by Kevin Do and Kian Kishimoto for their AP Computer Science Principles Digital Portfolio submission.</p>
        </div>
        <div>
            <h1 style="margin-left:80px;" class="pageTitle">how is the score calculated?</h1>
            <p style="margin-left:100px;" class="pageText">Catacombs level and secrets both are out of 150 points. To get 150 points in each section you need catacombs 38 and 12,000 secrets.
            <br> Every catacombs level over is 1 bonus point and every 5,000 secrets over is a bonus point.</p>
        </div>
    </div>
    <div style="width:30%">
        <img src="static/images/dab.png" width="50%" height="100%">
    </div>
</div>
{% endblock %}
